{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<div class="form-date-wrapper">
  <input {{ attributes.addClass([class]) }} />{{ children }}
  {% if attributes.type == 'date' %}
    <i class="icon icon-calendar icon-small"></i>
  {% elseif attributes.type == 'time' %}
    <i class="icon icon-time icon-small"></i>
  {% elseif attributes.type == 'datetime-local' %}
    <i class="icon icon-calendar icon-small"></i>
  {% endif %}

</div>
