@import "../base/variables";

@import "../base/typography";

.list-group {
  display: table;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 5rem;
  background-color: transparent;

  &-row {
    display: table-row;
    border-bottom: 1px solid $gray-20;
  }
  &-td {
    padding: 1rem 1rem 1.5rem 1rem;
    line-height: 1.3125rem;
    position: relative;
    display: table-cell;
    max-width: 36rem;
  }
  &__description {
    @include body-long-01;
  }
}
