@import "../../base/variables";
@import "../../base/typography";

a:not(.button),
.toolbar-item a,
.menu-item a,
.link,
*[class*="link"] > a:not(.link) {
  @include body-short-01;
  color: $blue-60;
  text-decoration: none;
  outline: none;
  //TODO: Add transition effect
  @include transition(color, yes);
  @include hover-color($blue-60, darken, u);
  font-weight: $bold;

  &:before {
    background-color: $blue-60;
  }

  //&:hover {
  //  color: $blue-70-hover;
  //  text-decoration: underline;
  //}

  &:active,
  &:active:visited,
  &:active:visited:hover {
    color: $gray-100;
    text-decoration: underline;
  }

  &:focus {
    //TODO: Add focus styling
  }

  &:not([href]):not(button) {
    color: $gray-30;
    cursor: not-allowed;
    pointer-events: none;
    touch-action: none;
  }

  &:visited {
    color: $blue-60;
    @include hover-color($blue-60);
  }

  //&:visited:hover {
  //  color: $blue-70-hover;
  //}
}
