* {
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  color: $gray-100;
  //background-color: $;
  line-height: 1;
  @include IBMPlexSans;
}

.layout-container {
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;

  .user-logged-in & {
    min-height: calc(100vh - 90px); // to compensate for admin menus
  }
}

.region {
  height: 100%;
}

.region-content {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  background-color: $gray-20;
  flex: 1;
  width: 100%;

  @include medium-desktop {
    padding: 0 0.5rem;
  }

  @include non-desktop {
    padding: 0 1rem;
  }
}
