button,
select,
input {
  border-radius: 0;
  max-width: 100%;
  border: $input-border;
  outline: 0;

  &:disabled {
    //pointer-events: none;
    cursor: not-allowed!important;
  }
}

select,
input,
textarea {
  outline: 2px solid transparent;

  &:focus, &:active {
    box-shadow: 0 0 0 2px $blue-60;
  }
}

button {
  margin: 0;
}

input[type='text']::-ms-clear {
  display: none;
}

label {
  position: relative;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 3.375rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 0;
}

h2 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 3.125rem;
  letter-spacing: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0;
}

h4 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}

a {
  color: $blue-60;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

img {
  height: auto;
  max-width: 100%;
}

i.icon-small {
  @include font-size(12);
}
