@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/icons/icomoon.eot?5vljth');
  src:  url('../../assets/icons/icomoon.eot?5vljth#iefix') format('embedded-opentype'),
  url('../../assets/icons/icomoon.ttf?5vljth') format('truetype'),
  url('../../assets/icons/icomoon.woff?5vljth') format('woff'),
  url('../../assets/icons/icomoon.svg?5vljth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.25rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow--down:before {
  content: "\e90c";
}
.icon-arrow--up:before {
  content: "\e90d";
}
.icon-checkmark:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e901";
}
.icon-left:before {
  content: "\e902";
}
.icon-right:before {
  content: "\e903";
}
.icon-up:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-user-solid-circle:before {
  content: "\e90b";
}
.icon-quotes-open:before {
  content: "\e977";
}
.icon-quotes-close:before {
  content: "\e978";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-time:before {
  content: "\e90e";
}
