ul.menu {
  height: 100%;
  margin-left: 0;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    height: 100%;
    display: inline-flex;
    align-items: center;
    border: 2px solid transparent;
    transition: background-color 110ms,border-color 110ms,color 110ms;

    @include  mobile {
      height: auto;
    }

    a {
      vertical-align: middle;
      color: $gray-30;
      padding: 0 1rem;
      font-size: .875rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.125rem;
      text-decoration: none;
      user-select: none;

      @include mobile {
        padding: 1rem 1rem;
      }

      &.is-active {
        color: $white;
      }
    }
  }
}
