// XS Mobile [x < 480px]
@mixin xs-mobile {
  @media (max-width: #{$mobile-xs-max}) {
    @content;
  }
}

// Mobile only [481px < x > 768px]
@mixin mobile-only {
  @media (min-width: #{$mobile-min}) and (max-width: #{$mobile-max}) {
    @content;
  }
}

// Mobile [x < 768px]
@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

// Medium devices [769px < x > 991px]
@mixin tablet {
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

// Desktop excluded [x < 992px]
@mixin non-desktop {
  @media (max-width: #{$desktop-min}) {
    @content;
  }
}

@mixin medium-desktop {
  @media (min-width: #{$desktop-min}) and (max-width: #{$desktop-max}) {
    @content;
  }
}

// Large devices [x > 992px]
@mixin desktop {
  @media (min-width: #{$desktop-min}) {
    @content;
  }
}

// Extra large devices [x > 1367px]
@mixin large-desktop {
  @media (min-width: #{$desktop-large-min}) {
    @content;
  }
}

@mixin font-size($size) {
  font-size:#{$size}px;
  font-size: #{calc((#{$size} / 16))}rem;
}

// vertical centering
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #000000 ) {
  -webkit-box-shadow: $h $v $b $s $c;
  -moz-box-shadow: $h $v $b $s $c;
  box-shadow: $h $v $b $s $c;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

@mixin gradient($start-color, $end-color, $orientation)
{
  background: $start-color;
  @if $orientation == vertical
  {
    // vertical
    background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
  }
  @else if $orientation == horizontal
  {
    // horizontal
    background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
  }
  @else
  {
    // radial
    background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
  }
}

@mixin animate-loader($type, $radius: $loader-radius) {

  display: inline-block;
  width: $radius;
  height: $radius;
  border-radius: 50%;
  background: $loader-back;
  box-shadow: 4px -40px 60px 5px $loader-shadow inset;

  @if $type == border // circle with border loading
  {
    background: linear-gradient(to right, $loader-gradient, 50%, transparent 50%);
    animation: spin 1s infinite linear;

    @keyframes spin {
      from {
        transform:rotate(0deg);
      }
      to {
        transform:rotate(360deg);
      }
    }

    &::before {
      display: block;
      content: '';
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(#{$loader-radius} * .75);
      height: calc(#{$loader-radius} * .75);
      background: $loader-front;
      border-radius: 50%;
    }
  }
  @else if $type == full // circle with fill loading
  {
    animation: spin 1s infinite linear;

    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
  }
  @else if $type == elastic // circle with fill loading with ease
  {
    animation: elastic-spin 1s infinite ease;

    @keyframes elastic-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(720deg); }
    }
  }
}

// heartbeat
@mixin animate-pulse($duration: $animation-duration) {
  animation: pulse $duration infinite ease-in-out alternate;

  @keyframes pulse {
    from { transform: scale(0.9); }
    to { transform: scale(1.1); }
  }
}

// fade in animation with transform option, for example ease in from the left
@mixin animate-fade-in($duration: $animation-duration, $transform: none, $transform-start: 20px, $transform-end: 0) {
  opacity: 1;
  animation: fade-in $duration ease;

  @keyframes fade-in {
    from {
      opacity: 0;

      @if($transform != none)
      {
        transform: call(get-function($transform), $transform-start);
      }
    }
    to {
      opacity: 1;

      @if($transform != none)
      {
        transform: call(get-function($transform), $transform-end);
      }
    }
  }
}

// fade out animation with transform option, for example ease out to the right
@mixin animate-fade-out($duration: $animation-duration, $transform: none, $transform-start: 20px, $transform-end: 0) {
  opacity: 0;
  animation: fade-out $duration ease;

  @keyframes fade-out {
    from {
      opacity: 1;

      @if($transform != none) {
        transform: call(get-function($transform), $transform-start);
      }
    }
    to {
      opacity: 0;

      @if($transform != none) {
        transform: call(get-function($transform), $transform-end);
      }
    }
  }
}

// fade in and then out animation with transform option, for example rotating loader
@mixin animate-fade-in-out($duration: $animation-duration, $transform: none, $transform-start: 20px, $transform-end: 0) {
  animation: fade-in-out $duration / 2 ease infinite alternate;

  @keyframes fade-in-out {
    from {
      opacity: 1;

      @if($transform != none) {
        transform: call(get-function($transform), $transform-start);
      }
    }
    to {
      opacity: 0;

      @if($transform != none) {
        transform: call(get-function($transform), $transform-end);
      }
    }
  }
}

//  adds hover effect to element background color
// $change can be 'lighten' or 'darken'
@mixin hover-background($color, $change: darken) {
  &:hover {
    background-color: unset;
    background-color: call(get-function($change), $color, 5%);
  }
}

//  adds hover effect to element foreground color
//  $change can be 'lighten' or 'darken'
//  $options can be (u, b) -> u = underline, b = bold
@mixin hover-color($color, $change: darken, $options: none) {
  &:hover {
    color: call(get-function($change), $color, 5%);

    @each $option in $options {
      @if($option == u) {
        text-decoration: underline;
      }
      @else if($option == b) {
        text-shadow: 0 0 1px call(get-function($change), $color, 5%);
      }
      @else if($option == i) {
        font-style: italic;
      }
    }
  }
}

//  adds transition
//  $property can be a single value or list if transitioning multiple properties
// $cubic can be yes, no, or multi (if transitioning multiple properties)
@mixin transition($property, $cubic: yes) {
  @if($cubic == no) {
    transition: $property .11s;
  }
  @else if($cubic == yes) {
    transition: $property .11s cubic-bezier(.2,0,.38,.9);
  }
  @else if($cubic > multi) {
    $transition-string: "";
    @each $property in $properties {
      $transition-string: $transition-string + $property + $cubic-bezier;

      @if(index($properties, $property) < length($properties)) {
        $transition-string: $transition-string + ',';
      }
    }
    transition: $transition-string;
  }
}

@mixin non-ie {
  @supports not (-ms-ime-align:auto) {
    @content;
  }
}


@mixin toolbar-svg-icon($background-color: $blue-60) {
  @include non-ie {
    background-image: unset;
    background-color: $background-color !important;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% auto;

    @include mobile {
      mask-size: 20px auto;
      left: 0;
      width: 100%;
    }
  }
}
