// BREAKPOINTS

$mobile-xs-max: 480px;
$mobile-min: 481px;
$mobile-max: 768px;

$tablet-min: 769px;
$tablet-max: 991px;

$desktop-min: 992px;
$desktop-max: 1366px;
$desktop-large-min: 1367px;

// ANIMATION VARIABLES

$animation-duration: 500ms;
$loader-radius: 50px;
$loader-back: #ffffff;
$loader-front: #ffffff;
$loader-gradient: red;
$loader-shadow: orange;
$cubic-bezier: .11s cubic-bezier(.2,0,.38,.9);

//  FONT VARIABLES
$bold: 500;

//  COLORS

// default page background
$white: #ffffff;
$black: #000000;

$blue-20: #d0e2ff;
$blue-40: #78a9ff;
$blue-50: #4589ff;

// $interactive-01, $interactive-03, $interactive-04
// primary interactive color, primary buttons
// tertiary button
// selected elements, active elements, accent icons
// primary links, ghost button
// focus border, focus underline
$blue-60: #0f62fe;
//$blue-60: #ff7000;

$blue-60-hover: #0353e9;
//$blue-60-hover: rgba(255,112,0,.8);

$blue-70: #0043ce;
$blue-70-hover: #054ada;
$blue-80: #002d9c;

$gray-10: #f4f4f4;
$gray-10-hover: #e5e5e5;
$gray-20: #e0e0e0;
$gray-20-hover: #cacaca;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-70: #525252;
$gray-80: #393939;
$gray-80-hover: #4c4c4c;
$gray-100: #161616;
$gray-100-a50: rgba(22, 22, 22, 0.5);

//$gray-10: #f7f7f7;
//$gray-10-hover: #fafafa;
//$gray-20: #eeeeee;
//$gray-20-hover: #e6e6e6;
//$gray-30: #cccccc;
//$gray-40: #b3b3b3;
//$gray-50: #999999;
//$gray-60: #808080;
//$gray-70: #666666;
//$gray-80: #484848;
//$gray-80-hover: #333333;
//$gray-100: #282828;
//$gray-100-a50: rgba(22, 22, 22, 0.5);

$red-50: #fa4d56;
$red-60: #da1e28;
$red-60-hover: #ba1b23;
$red-80: #750e13;

$green-40: #42be65;
$green-50: #24a148;

$yellow-100: #f1c21b;

$purple-60: #8a3ffc;

//  SPACING
$spacing-baseline: 1rem !default;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-64: 4rem;
$spacing-96: 6rem;
$spacing-160: 10rem;

//  INPUT
$input-background-color: $gray-10; // background color *
$input-border: 1px solid transparent !default;
$input-label-weight: 400 !default;
$button-font-weight: 400 !default;
$button-font-size: 0.875rem !default;
$button-border-radius: 0 !default;
$button-height: 48px !default;
$button-padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 12px !default;
$button-padding-field: calc(0.675rem - 3px) 60px calc(0.675rem - 3px) 12px !default;
$button-padding-sm: calc(0.375rem - 3px) 60px calc(0.375rem - 3px) 12px !default;
$button-padding-lg: $spacing-12 !default;

/// Uses the same padding-y as normal buttons, but removes extra padding-right
$button-padding-ghost: calc(0.875rem - 3px) 12px !default;
$button-padding-ghost-field: calc(0.675rem - 3px) 12px !default;
$button-padding-ghost-sm: calc(0.375rem - 3px) 12px !default;
$button-border-width: 2px !default;
$button-outline-width: 1px !default;

$radio-border-width: 1px !default;

//  LIST
$structured-list-padding: 2rem !default;
$structured-list-text-transform: none !default;

//  TABS
$tab-underline-color: 2px solid $gray-30 !default;
$tab-underline-color-hover: 2px solid $gray-40 !default;
$tab-underline-disabled: 2px solid $gray-10 !default;

//  ACCORDION
$accordion-flex-direction: row-reverse !default;
$accordion-justify-content: flex-start !default;
$accordion-arrow-margin: 2px $spacing-16 0 0 !default;
$accordion-title-margin: 0 0 0 $spacing-16 !default;
$accordion-content-padding: 0 0 0 $spacing-16 !default;

//  CHECKBOX
$checkbox-border-width: 1px !default;

// DATA TABLE
$data-table-heading-transform: uppercase !default;
$data-table-heading-border-bottom: 1px solid $gray-20 !default;
$data-table-row-height: 2rem !default;

//  MODAL
$modal-border-top: $gray-10 4px solid !default;

//  PROGRESS INDICATOR
$progress-indicator-bar-width: 1px inset transparent !default;
$progress-indicator-stroke-width: 5 !default;
$progress-indicator-line-offset: 0.625rem !default;
