{#
/**
 * @file
 * Theme override for displaying a tablesort indicator.
 *
 * Available variables:
 * - style: Either 'asc' or 'desc', indicating the sorting direction.
 */
#}
{%
  set classes = [
  'tablesort',
]
%}
    {% if style == 'asc' -%}
      <i class="icon icon-arrow--down order"></i>
    {% else -%}
      <i class="icon icon-arrow--up order"></i>
    {% endif %}
