{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    {% for item in breadcrumb %}
      <div class="breadcrumb-item">
        {% if item.url %}
          <a href="{{ item.url }}" class="link">{{ item.text }}</a>
        {% else %}
          <a>{{ item.text }}</a>
        {% endif %}
      </div>
    {% endfor %}
  </nav>
{% endif %}
