@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../../../assets/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url("../../../assets/font/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url("../../../assets/font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url("../../../assets/font/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@mixin IBMPlexSans {
  font-family: 'IBM Plex Sans', sans-serif;
}

@mixin IBMPlexSansCondensed {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@mixin IBMPlexSerif {
  font-family: 'IBM Plex Serif', serif;
}

@mixin IBMPlexMono {
  font-family: 'IBM Plex Mono', sans-serif;
}
