@import "font";

@mixin body-short-01() {
  @include IBMPlexSans;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

@mixin body-long-01() {
  @include IBMPlexSans;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

@mixin body-short-02() {
  @include IBMPlexSans;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin body-long-02() {
  @include IBMPlexSans;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin heading-01() {
  @include IBMPlexSans;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin heading-02() {
  @include IBMPlexSans;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin heading-03() {
  @include IBMPlexSans;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin heading-04() {
  @include IBMPlexSans;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin heading-05() {
  @include IBMPlexSans;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin heading-06() {
  @include IBMPlexSans;
  font-size: calc(2.625rem - 0.5vw);
  line-height: 3.125rem;
  font-weight: 300;
  letter-spacing: 0;
}

@mixin heading-07() {
  @include IBMPlexSans;
  font-size: calc(3.375rem - 0.5vw);
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0;
}

@mixin code-01() {
  @include IBMPlexMono;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

@mixin code-02() {
  @include IBMPlexMono;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

@mixin label-01() {
  @include IBMPlexSans;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

@mixin helper-text-01() {
  @include IBMPlexSans;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}
