@import "../base/variables";
@import "../base/mixins";
@import "../admin/typography";

.user-login-form, .user-register-form, .user-pass {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5% 10%;
  position: relative;

  @include mobile {
    padding: 1rem;
  }
}

.user-pass {
  p {
    order: 1;
    @include helper-text-01;
    color: $gray-70;
  }
}
