@import "../base/variables";
@import "../base/mixins";
@import "../component/form/select";

// target only td in admin which ends with "-operations"
body.path-admin td[class$="operations"] {
  padding: 0;
  position: relative;
}

.dropbutton-wrapper {
  margin-top:.425rem !important;
  min-height: 2.5rem !important;
  height: 100%;
  background-color: transparent;

  &.open {
    height: auto;

    .dropbutton-widget {
      position: absolute;

      height: auto;

      .dropbutton {
        height: auto;

        .dropbutton-action {
          height: 2.5rem;
          @include hover-background($gray-10);
        }
      }
    }
  }

  .dropbutton-widget {
    @extend select;

    .dropbutton {
      height: 100%;

      .dropbutton-action {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
