@import "../base/variables";
@import "../base/mixins";
@import "../admin/typography";

.footer {
  background-color: $gray-70;
  padding: .5rem 0;
  display: flex;

  .footer-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  p {
    color: $gray-40;
    @include font-size(10);
    @include IBMPlexMono;
  }

  img {
    height: 2.5rem;
    width: auto;
    @include animate-pulse(1000ms);
  }
}
