@import "../base/variables";
@import "../base/mixins";
@import "../layout/header";

.ui-dialog {
  left: 50% !important;
  transform: translateX(-50%);

  &.ui-dialog--narrow {
    max-width: 600px;
  }

  .ui-dialog-titlebar {
    @extend header;
    top: 0;
  }
}

// SPECIFIC DIALOGS
.editor-image-dialog {
  .container-inline label::after,
  .container-inline .label::after {
    content: unset;
  }
}
