@import "../base/variables";
@import "../base/mixins";
@import "../admin/typography";

#toolbar-administration {
  .toolbar-tray, .toolbar-tray .toolbar-menu {
    background-color: $gray-10;
  }

  .toolbar-menu-administration a {
    color: $gray-80;
  }

  a {
    @include IBMPlexSansCondensed;
  }
}

.toolbar-tray-vertical, .menu-item--active-trail {
  a::before {
    @include mobile {
      left: unset !important;
    }
  }
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  margin-top: -47px !important;
}

.toolbar-tab {
  &  > .toolbar-icon {
    @include mobile {
      width: 4em !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      text-indent: -9999px !important;

      &::before {
        left: 0 !important;
      }
    }
  }
}

.toolbar-tab > a.toolbar-icon:hover,
#admin-toolbar-search-tab .toolbar-item:hover {
  &:before {
    background-color: $blue-60 !important;
  }
}


// ALL STYLING IS ABOVE, ONLY ICON SETTINGS ARE BELOW

/**
 * Top level icons.
 */
.toolbar-bar .toolbar-icon-menu:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/hamburger.svg);
  @include toolbar-svg-icon(#bebebe);
}
.toolbar-bar .toolbar-icon-menu:active:before,
.toolbar-bar .toolbar-icon-menu.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/ffffff/hamburger.svg);
  @include toolbar-svg-icon;
}
.toolbar-bar .toolbar-icon-help:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/questionmark-disc.svg);
  @include toolbar-svg-icon(#bebebe);
}
.toolbar-bar .toolbar-icon-help:active:before,
.toolbar-bar .toolbar-icon-help.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/ffffff/questionmark-disc.svg);
  @include toolbar-svg-icon($white);
}

/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-content:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/file.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-content:active:before,
.toolbar-icon-system-admin-content.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/file.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-structure:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/orgchart.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-structure:active:before,
.toolbar-icon-system-admin-structure.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/orgchart.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-themes-page:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/paintbrush.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-themes-page:active:before,
.toolbar-icon-system-themes-page.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/paintbrush.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-entity-user-collection:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-entity-user-collection:active:before,
.toolbar-icon-entity-user-collection.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/people.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-modules-list:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-modules-list:active:before,
.toolbar-icon-system-modules-list.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/puzzlepiece.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-config:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/wrench.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-config:active:before,
.toolbar-icon-system-admin-config.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/wrench.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-reports:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/barchart.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-system-admin-reports:active:before,
.toolbar-icon-system-admin-reports.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/barchart.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-help-main:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg);
  @include toolbar-svg-icon;
}
.toolbar-icon-help-main:active:before,
.toolbar-icon-help-main.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/000000/questionmark-disc.svg);
  @include toolbar-svg-icon;
}

/**
  Handle
*/

.toolbar .toolbar-icon.toolbar-handle:before {
  mask-image: url(/core/themes/stable/images/core/icons/5181c6/chevron-disc-down.svg);
  @include toolbar-svg-icon;
}
.toolbar .toolbar-icon.toolbar-handle.open:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/chevron-disc-up.svg);
  @include toolbar-svg-icon;
}
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before {
  mask-image: url(/core/themes/stable/images/core/icons/5181c6/twistie-down.svg);
  @include toolbar-svg-icon;
  mask-size: 75%;
}
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);
  @include toolbar-svg-icon;
  mask-size: 75%;
}
.toolbar .toolbar-icon-escape-admin:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/chevron-disc-left.svg);
  @include toolbar-svg-icon;
}
[dir="rtl"] .toolbar .toolbar-icon-escape-admin:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/chevron-disc-right.svg);
  @include toolbar-svg-icon;
}

/**
 * In order to support a hover effect on the SVG images, while also supporting
 * RTL text direction and no SVG support, this little icon requires some very
 * specific targeting, setting and unsetting.
 */
.toolbar .toolbar-toggle-orientation [value="vertical"]:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/push-left.svg); /* LTR */
  @include toolbar-svg-icon;
}
.toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,
.toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/push-left.svg); /* LTR */
  @include toolbar-svg-icon;
}
[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/push-right.svg);
  @include toolbar-svg-icon;
}
[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,
[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/push-right.svg);
  @include toolbar-svg-icon;
}
.toolbar .toolbar-toggle-orientation [value="horizontal"]:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/push-up.svg);
  @include toolbar-svg-icon;
}
.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover:before,
.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus:before {
  mask-image: url(/core/themes/stable/images/core/icons/787878/push-up.svg);
  @include toolbar-svg-icon;
}

/**
 * Shortcuts
 */
.toolbar-bar .toolbar-icon-shortcut:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/star.svg);
  @include toolbar-svg-icon(#bebebe);
}
.toolbar-bar .toolbar-icon-shortcut:active:before,
.toolbar-bar .toolbar-icon-shortcut.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/ffffff/star.svg);
  @include toolbar-svg-icon;
}

[dir="rtl"] .shortcut-action__icon {
  mask-image: url(/core/themes/stable/images/shortcut/favstar-rtl.svg);
  @include toolbar-svg-icon;
}

/**
  Search
*/

#admin-toolbar-search-tab .toolbar-item:before {
  mask-image: url(/modules/contrib/admin_toolbar/misc/icons/bebebe/loupe.svg);
  @include toolbar-svg-icon(#bebebe);
}

#admin-toolbar-search-tab .toolbar-item:active:before,
#admin-toolbar-search-tab .toolbar-item.is-active:before {
  mask-image: url(/modules/contrib/admin_toolbar/misc/icons/ffffff/loupe.svg);
  @include toolbar-svg-icon;
}

/**
 * User
 */
.toolbar-bar .toolbar-icon-user:before {
  mask-image: url(/core/themes/stable/images/core/icons/bebebe/person.svg);
  @include toolbar-svg-icon(#bebebe);
}
.toolbar-bar .toolbar-icon-user:active:before,
.toolbar-bar .toolbar-icon-user.is-active:before {
  mask-image: url(/core/themes/stable/images/core/icons/ffffff/person.svg);
  @include toolbar-svg-icon;
}
