.footer-user {
  width: 100%;
  background-color: $gray-80;
  color: $gray-20;
  display: grid;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  & > .region {
    padding: 10px;
  }

  .region-footer-top {
    grid-area: top;
  }

  .region-footer-bottom {
    grid-area: bottom;
  }

  .region-footer-left {
    grid-area: left;
  }

  .region-footer-right {
    grid-area: right;
  }

  .region-footer {
    grid-area: center;
  }

  .region-footer,
  .region-footer-left,
  .region-footer-right {
    background-color: $gray-80-hover;
  }
}
