header {
  display: flex;
  align-items: center;
  top: 79px;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: $gray-100;
  border-bottom: 1px solid $gray-80;
  z-index: 3;
  padding: 0 0 0 1rem;
  vertical-align: middle;
  color: #c6c6c6;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  user-select: none;
  @include font-size(14);

  .button-hamburger, .button-hamburger-close {
    background-color: $gray-100;
    color: $white;
  }

  .button-hamburger {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .hide-button {
    display: none;
  }

  .region-branding {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 1rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 20px;
    user-select: none;
    border: .125rem solid transparent;
    -webkit-transition: border-color 110ms;
    transition: border-color 110ms;
    outline: none;

    * {
      height: 100%;
    }

    .site-logo {
      display: block;

      img {
        height: 100%;
        width: auto;
      }
    }

    .site-name {
      display: none;
    }
  }
}
