.sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 16rem;
  will-change: width;
  transition: width .5s cubic-bezier(0.2, 0, 1, 0.9);
  overflow: hidden;
  z-index: 6000;
  padding: 10px;
  display: none;
  background-color: $gray-100;

  &.sidebar-left {
    left: 0;
  }

  &.sidebar-right {
    right: 0;
  }
}
