@import "../../base/variables";
@import "../../base/mixins";

input[type="checkbox"] {
  -webkit-appearance: none;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border: $checkbox-border-width solid $gray-100;
  background-color: transparent;
  position: relative;
  margin: 2px;
  top: 5px;

  // adjustment for checkbox in table head
  th &, td & {
    top: 2px;
  }

  tr & {
    top: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    left: .2rem;
    width: .5625rem;
    height: .3125rem;
    background: none;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: scale(1) rotate(-45deg);
    transform-origin: bottom right;
    box-sizing: border-box;
    visibility: hidden;
  }

  &:checked {
    background-color: $gray-100;
    &:after {
      visibility: visible;
    }
  }

  &:disabled {
    border-color: $gray-30;

    &:checked {
      background-color: $gray-30;
    }

    &:before {
      background-color: $gray-30;
    }

    & + label {
      color: $gray-30;
    }
  }
}

.form-type-checkbox {
  position: relative;

  label {
    padding-left: $spacing-4;
  }
}
