@import "../../base/variables";
@import "../../base/mixins";
@import "../../base/typography";

.form-date-wrapper {
  position: relative;
  display: inline-block !important;
  width: auto;

  i {
    display: block;
    color: $gray-100;
    position: absolute;
    bottom: .9rem;
    right: .9rem;
    pointer-events: none;
    z-index: 1;
  }
}

input.form-time {
  padding-right: 2rem;
}

.form-datetime-wrapper {
  position: relative;
  min-width: 13rem;

  .form-datetime {
    min-width: 13rem;
  }
}

// removing default extra shadow dom elements
.form-date {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.form-time,
.form-date {
  padding-right: 1rem;

  &::-webkit-clear-button {
    display: none;
  }
}

.form-time {
  &::-webkit-inner-spin-button {
    height: inherit;
  }
}

.ui-datepicker {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  background-color: $gray-10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .25rem .25rem .5rem;
  width: 20rem!important;
  height: 22rem;
  border-radius: 0;
  border: none;
  overflow: hidden;
  margin-top: -2px;

  .ui-datepicker-header {
    border: unset;
    background: none;
    border-radius: unset;
    display: flex;
    width: 100%;
    position: relative;
    z-index:2;

    .ui-datepicker-prev,
    .ui-datepicker-next {
      cursor: pointer;
      pointer-events: auto;
      touch-action: auto;
      display: flex!important;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;
      padding: 0;
      color: $gray-100;
      position: absolute;
      z-index: 3;
      @include transition(background-color, yes);
      @include hover-background($gray-10, darken);

      &:hover {
        text-decoration: none;
        border: none;
      }
    }

    .ui-datepicker-title {
      align-items: center;
      height: 2.5rem;
      margin-bottom: .25rem;
      vertical-align: middle;
      color: inherit;
      width: 75%;
      padding: .2rem 0 0;
      display: inline-flex;
      justify-content: space-evenly;
      text-align: center;
      position: relative;
      z-index: 2;
    }
  }

  tr {
    &:hover {
      background-color: transparent;
    }

    td {
      &.ui-datepicker-today a {
        background-color: transparent;
        color: $blue-60;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: .4375rem;
          left: 50%;
          transform: translateX(-50%);
          height: .25rem;
          width: .25rem;
          background-color: $blue-60;
        }
      }

      .ui-datepicker-current-day a {
        background-color: $blue-60;
        color: $white;

        &:hover {
          color: $white;
          text-decoration: none;
        }
      }

      a {
        color: $gray-100;
        border: none !important;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        transition: all 70ms cubic-bezier(.2,0,.38,.9);
        @include body-short-01;
        @include transition(all, yes);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
