@import "../../base/mixins";

details {
  height: 100% !important;
  white-space: normal !important;

  summary::-webkit-details-marker {
    display:none;
  }

  summary {
    @include font-size(16);
    display: flex;
    align-items: center;
    line-height: 2;
  }
}
