@import "../../base/variables";

.drop-container {
  width: 320px;
  height: 6rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  border: 1px dashed var(--cds-ui-04,$blue-60);

  &:hover {
    cursor: pointer;
  }

  span {
    padding: 1rem;
  }

  input {
    position: absolute;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    text-indent: -9999px;
    border: none;
    outline: none;
    box-shadow: none;

    &:focus, &:active {
      border: 0;
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
