@import "../../base/variables";
@import "../../base/mixins";
@import "../../base/typography";

.form-wrapper {
  width: 100%;

  table & {
    width: auto;
  }
}

.container-inline {
  display: inline-block;
}

.form-composite {
  margin-bottom: .5rem;
}

.form-item, .form-actions {
  margin: 0;
}

.form-item {
  &:not(.form-composite .form-item) {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: .5rem;

    &.form-type-checkbox,
    &.form-type-radio {
      display: inline-block;
      margin-bottom: 0;

      &:last-of-type {
        margin-bottom: .75rem;
      }
    }

    .form-wrapper,
    .form-type-textfield,
    .form-select-wrapper,
    .form-textarea-wrapper {
      margin: .5rem 0;
    }
  }

  .form--inline & {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    // inline form elements which have a label
    label:not(.visually-hidden) ~ * {
      margin-left: .5rem;
    }
  }

  label {
    order: 0;
    @include label-01;
  }

  .description {
    order: 1;
    @include helper-text-01;
    color: $gray-70;
  }

  .form-wrapper,
  .form-text,
  .form-email,
  .form-select-wrapper,
  .form-textarea-wrapper {
    order: 2;
    margin: .5rem 0;
  }

  .form-wrapper & {
    width: 100%;
  }

  .container-inline & {
    width: auto;
  }

  .form-composite & {
    margin: 0;

    &.form-type-checkbox, &.form-type-radio {
      margin: .25rem 0;
    }
  }
}

table {
  .button--small {
    transform: translateY(-25%);
  }
}
