@import "../../base/variables";
@import "../../base/mixins";

input[type="radio"] {
  -webkit-appearance: none;
  cursor: pointer;
  height: 1.125rem;
  width: 1.125rem;
  border: $radio-border-width solid $gray-100;
  background-color: transparent;
  position: relative;
  top: 5px;
  margin: 2px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:checked {
    &:before {
      content: "";
      position: absolute;
      left: .25rem;
      top: .25rem;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $gray-100;
      box-sizing: border-box;
      border-radius: 50%;

      // Allow the selected button to be seen in Windows HCM for IE/Edge
      @media screen and (-ms-high-contrast: active) {
        // Utilize a system color variable to accomodate any user HCM theme
        background-color: windowText;
      }
    }
  }

  &:disabled {
    border-color: $gray-30;

    &:checked {
      &:before {
        background-color: $gray-30;
      }
    }

    &:before {
      background-color: $gray-30;
    }

    & + label {
      color: $gray-30;
    }
  }
}

// radio button group
.form-radios {
  display: flex;
  margin-top: $spacing-8;
  flex-direction: column;
  align-items: flex-start;
}

// individual radio button and label wrapper
.form-type-radio {
  position: relative;

  label {
    margin-left: $spacing-4;

    &:not(:last-of-type) {
      margin-bottom: $spacing-8;
    }
  }
}
