@import "../../base/variables";
@import "../../base/mixins";

select {
  height: 2.5rem;
  appearance: none;
  padding: 0 $spacing-48 0 $spacing-16;
  color: $gray-100;
  background-color: $input-background-color;
  border: none;
  border-bottom: 1px solid $gray-50;
  border-radius: 0;
  cursor: pointer;
  @include font-size(14);
  position: relative;

  @include hover-background($input-background-color);

  &:disabled,
  &:hover:disabled {
    cursor: not-allowed;
    background-color: $gray-10;
    color: $gray-30;
    border-bottom-color: $gray-10;
  }

  // Hide default select arrow in IE10+
  &::-ms-expand {
    display: none;
  }

  // Select text renders a little high on Firefox
  @-moz-document url-prefix() {
    // Removes dotted inner focus
    &:-moz-focusring,
    &::-moz-focus-inner {
      color: transparent;
      text-shadow: 0 0 0 $black;
      background-image: none;
    }
  }

  & + i {
    display: block;
    color: $gray-100;
    position: absolute;
    line-height: 2.5rem !important;
    top: 0;
    right: 1rem;
    pointer-events: none;
  }
}

.form-select-wrapper {
  position: relative;
  display: inline-block !important;
  width: fit-content;
  height: 2.5rem;
}
