@import "../../base/variables";
@import "../../base/mixins";
@import "../../base/typography";

input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  min-height: 2.5rem;
  background-color: $input-background-color;
  padding: 0 $spacing-16;
  color: $gray-100;
  border: none;
  border-bottom: 1px solid $gray-50;
  display: block;
  @include body-short-01;
  @include hover-background($input-background-color);

  &::placeholder {
    color: $gray-40;
    @include body-short-01;
  }

  &:disabled {
    border-bottom: 1px solid transparent;

    &::placeholder {
      color: $gray-30;
    }
  }
}

textarea {
  padding-top: 1rem;
}

input[type="number"] {
  &::-webkit-inner-spin-button {
    height: 2.5rem;

    &:active {
      box-shadow: 0 0 0 2px $blue-60;
    }
  }
}
