@import "../../base/variables";

.panel {
  padding: 0;
  background-color: $gray-10;

  .panel__title {
    @extend header !optional;

    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
}
