@import "../base/variables";
@import "../base/typography";

@mixin button-theme(
  $bg-color,
  $border-color,
  $font-color,
  $hover-bg-color,
  $icon-color,
  $active-color,
  $border-width: $button-border-width
) {
  background-color: $bg-color;
  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
  color: $font-color;

  @include hover-background($bg-color);

  //&:hover {
  //  background-color: $hover-bg-color;
  //}

  &:focus {
    border-color: $blue-60;
    box-shadow: inset 0 0 0 $button-outline-width $gray-10-hover;
  }

  &:disabled:hover,
  &:disabled:focus,
  &:hover.button--disabled,
  &:focus.button--disabled {
    color: $gray-50;
    background-color: $gray-30;
    border-color: $gray-30;
    text-decoration: none;
    box-shadow: none;
  }

  &:active {
    background-color: $active-color;
  }

  .button__icon,
  .button__icon path {
    fill: $icon-color;
  }
}

.button {
  @include body-short-01;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  flex-shrink: 0;
  min-height: 3rem;
  padding: $button-padding;
  border-radius: 0;
  text-align: left;
  text-decoration: none;
  //TODO: Transition
  //transition: all $duration--fast-01 motion(entrance, productive);
  outline: none;
  position: relative;
  max-width: 20rem;
  margin: 0;

  @include button-theme(
    $blue-60,
    transparent,
    $white,
    $blue-60-hover,
    currentColor,
    $blue-80
  );

  &:hover {
    color: $white;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled,
  &.button--disabled {
    cursor: not-allowed;
    color: $gray-50;
    background: $gray-30;
    border-color: $gray-30;
  }

  &.button-action::before {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  //TODO Improve button icons

  &.button-secondary {
    @include button-theme(
      $gray-80,
      transparent,
      $white,
      $gray-80-hover,
      currentColor,
      $gray-60
    );

    &:hover,
    &:focus {
      color: $white;
    }
  }
  &.button-terinary {
    @include button-theme(
      transparent,
      $blue-60,
      $blue-60,
      $blue-60-hover,
      currentColor,
      $blue-80,
      1px
    );

    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
      background-color: $blue-60;
    }
    &:active {
      border-color: transparent;
    }
    &:disabled,
    &:hover:disabled,
    &:focus:disabled {
      background: transparent;
      color: $gray-10;
      outline: none;
    }
  }
  &.button-danger {
    @include button-theme(
      $red-60,
      $red-60,
      $white,
      $red-60-hover,
      currentColor,
      $red-80
    );

    &:hover {
      color: $white;
      border: $button-border-width solid transparent;
    }
  }

  &.button-ghost {
    @include button-theme(
      transparent,
      transparent,
      $blue-60,
      $gray-10-hover,
      currentColor,
      $gray-30
    );

    padding: $button-padding-ghost;

    &:hover,
    &:active {
      color: $blue-70;
    }

    &:active {
      background-color: $gray-30;
    }

    &:disabled,
    &:hover:disabled,
    &:focus:disabled {
      color: $gray-10;
      background: transparent;
      border-color: transparent;
      outline: none;
    }
  }
  &.button-sm, &.button--small {
    min-height: 2rem;
    padding: $button-padding-sm;
  }
  &.button-field {
    min-height: 2.5rem;
    padding: $button-padding-field;
  }
}
