@import "../../base/variables";
@import "../../base/mixins";

.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  //TODO Padding 0 was added to remove base styling
  padding: 0;

  @include mobile {
    display: inline;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: $spacing-8;

    &::after {
      content: "/";
      color: $gray-100;
      margin-left: $spacing-8;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: "";
        display: none;
        margin-right: 0;
      }
    }
  }

  & .link {
    white-space: nowrap;
  }
}
