@import "../../base/variables";
@import "../../base/mixins";

.region-navigation {
  @include mobile {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $gray-100;
    width: 0;
    z-index: 1;
    min-height: 100%;
    transition: width .11s cubic-bezier(.2,0,.38,.9);
    margin-top: 3rem;

    &.show-element {
      width: 16rem;

      .navigation {
        display: block;
      }
    }

    .user-logged-in & {
      margin-top: calc(39px + 3rem);
    }
  }

  .navigation {
    padding-left: 1rem;
    position: relative;
    display: block;
    height: 100%;

    @include mobile {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1.5rem;
      width: .0625rem;
      background-color: $gray-80;
    }
  }
}
