@import "../../base/variables";
@import "../../base/mixins";

ul.tabs {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;

  @include mobile {
    flex-wrap: wrap;
  }

  li {
    display: flex;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: $spacing-40;
    border-bottom: 3px solid $gray-30;
    margin-left: $spacing-2;
    margin-right: 0;

    @include mobile {
      flex-basis: calc(50% - 2px);
    }

    &.is-active {
      border-bottom-color: $blue-60;
    }

    &:hover:not(.is-active) {
      border-bottom-color: $gray-50;
    }

    &:focus {
      border: 3px solid $blue-60;
    }

    a {
      color: $gray-80;
      padding: 0.5rem 1rem;
      width: 100%;

      @include hover-color($gray-80, darken);

      &.is-active {
        background: none;
        color: $gray-100;
        font-weight: 600;
      }

      &:hover {
        background: none;
      }
    }
  }
}
