@import "../../base/variables";
@import "../../base/mixins";

.region-user-tools {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
  height: 100%;
  z-index: 1;

  .user-action {
    justify-content: center;
    align-items: center;
    display: inline-block;
    background: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    min-width: 3rem;
    height: 3rem;
    border: .125rem solid transparent;
    transition: background-color 110ms,border-color 110ms;
    outline: unset;
    color: $white;
  }

  .block-search {
    position: relative;
    display: flex;
    //max-width: 28rem;
    max-width: 3rem;
    width: 100%;
    margin-left: .5rem;
    height: 3rem;
    //background-color: $gray-80;
    background-color: $gray-100;
    overflow: hidden;

    transition: max-width .11s cubic-bezier(.2,0,.38,.9),background .11s cubic-bezier(.2,0,.38,.9);

    @include mobile {
      max-width: 3rem;
      background-color: $gray-100;
    }

    &.show-element {
      max-width: 28rem;
      background-color: $gray-80;

      @include mobile {
        max-width: 3rem;

        input.input-search {
          height: 3rem;
          padding: 1rem;
        }

        button.button-search {
          display: none;
        }
      }
    }

    .block-search-wrapper {
      display: flex;
      flex-grow: 1;
      border-bottom: 1px solid $gray-80;

      @include mobile {
        position: relative;
      }

      .button-search {
        @include mobile {
          display: block;
        }

        .icon-search {
          color: white;
        }
      }

      .input-search {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0;
        color: $white;
        caret-color: $white;
        background-color: initial;
        border: none;
        outline: none;
        width: 100%;
        height: 3rem;
        padding: 0;
        transition: opacity .11s cubic-bezier(.2,0,.38,.9);

        @include mobile {
          height: 0;
          min-height: 0;
          background-color: $gray-80;
          position: fixed;
          top: 3rem;
          right: 0;
          min-width: 100%;
          transition: height .11s cubic-bezier(.2,0,.38,.9);

          .user-logged-in & {
            top: calc(3rem + 42px); // compensating for the admin menus
          }
        }
      }
    }
  }

  .block-account {
    position: relative;

    &.account-collapsed {
      .menu {
        height: 0!important;

        .menu-item {
          display: none;
        }
      }
    }

    &.show-element {
      ul.menu {
        height: 3rem;
        top: 3rem;
        bottom: 0;

        .user-logged-in & {
          height: 6rem;
        }

        .menu-item {
          display: flex;
        }
      }
    }

    .menu {
      height: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      background-color: $gray-80;
      width: 16rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
      transition: height .11s cubic-bezier(.2,0,.38,.9);

      @include mobile {
        width: 100vw;
      }

      .menu-item {
        position: relative;
        display: none;
        padding: unset;

        a {
          @include font-size(14);
          display: flex;
          align-items: center;
          color: $gray-10;
          text-decoration: none;
          font-weight: 400;
          width: 100%;
          min-height: 2.5rem;
          padding-left: 1rem;
          @include hover-background($gray-80);
          @include hover-color($gray-10, lighten);
        }
      }
    }
  }
}
