@import "../../base/variables";
@import "../../base/mixins";
@import "../../base/typography";

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    @include heading-01();

    .order {
      @include font-size(16);
    }
  }

  tbody {
    background-color: $gray-10;
    width: 100%;

    tr {
      @include hover-background($gray-10);
      //background-color: $gray-10-hover;
    }
  }

  tr {
    border: none;
    height: 3rem;
    width: 100%;
  }

  td {
    border-top: 1px solid $gray-10;
  }

  th, td {
    padding: 0 1rem;
    text-align: left;
    vertical-align: middle;
  }
}
