{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if is_admin %}
  {{ attach_library('carbon_lite/cms') }}
{% endif %}

<div class="layout-container">

  {% if not admin_page %}
    <header>
      <button class="user-action button-hamburger">
        <i class="icon icon-menu"></i>
      </button>

      <button class="user-action button-hamburger-close hide-button">
        <i class="icon icon-close"></i>
      </button>

      {% if page.branding %}
          {{ page.branding }}
      {% endif %}

      {% if page.navigation %}
          {{ page.navigation }}
      {% endif %}

      {% if page.user_tools %}
        {{ page.user_tools }}
      {% endif %}
    </header>
  {% endif %}

  {% if page.before %}
    {{ page.before }}
  {% endif %}

  {% if page.left %}
    <aside class="sidebar-wrapper sidebar-right">
      {{ page.left }}
    </aside>
  {% endif %}

  {{ page.content }}

  {% if page.right %}
    <aside class="sidebar-wrapper sidebar-right">
      {{ page.right }}
    </aside>
  {% endif %}

  {% if page.after %}
    {{ page.after }}
  {% endif %}

  {% if admin_page %}
    {{ attach_library('carbon_lite/admin') }}
  {% else %}

    {{ attach_library('carbon_lite/user') }}

    <footer class="footer">
      <div class="footer-user">
        {% if page.footer_top %}
          {{ page.footer_top }}
        {% endif %}

        {% if page.footer_left %}
          {{ page.footer_left }}
        {% endif %}

        {% if page.footer %}
          {{ page.footer }}
        {% endif %}

        {% if page.footer_right %}
          {{ page.footer_right }}
        {% endif %}

        {% if page.footer_bottom %}
          {{ page.footer_bottom }}
        {% endif %}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
